body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ededed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li:not(:last-child) {
    margin-bottom: 1.5em;
}

li.contentsList:not(:last-child) {
    margin-bottom: .5em;
}